<h1>{{ user.prenom }} {{ user.nom }}</h1>
<p>{{ user.adresse }}</p>
<p>{{ user.ville }} {{ user.codePostal }}</p>
<p>{{ user.mail }} / {{ user.telephone }}</p>
<br>
<p>Numéro de SIRET : {{ user.siret }}</p>
<p>APE : {{ user.ape }}</p>
<p>Numéro de TVA : {{ user.numeroTVA }}</p>
<br>
<p>IBAN : {{ user.iban }}</p>
<p>BIC : {{ user.bic }}</p>

<button *ngIf = "!isAuth" class="btn btn-success" routerLink = "/user/edit" routerLinkActive = "active"  >Enregistrer mes informations</button>
<button *ngIf = "isAuth" class="btn btn-success" routerLink = "/user/edit" routerLinkActive = "active"  >Modifier mes informations</button>