<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Enregistrer une nouvelle facture</h2>
      <form [formGroup]="factureForm" (ngSubmit)="onSaveFacture()">
        <div class="form-group">
          <label for="date">Date d'émission</label>
          <input id="date" type="date"
                    class="form-control" formControlName="date">
        </div>
        <div class="form-group">
          <label for="mois">Mois de facturation</label>
          <select id="mois" class="form-control" formControlName="mois">
            <option value="Janvier">Janvier</option>
            <option value="Février">Février</option>
            <option value="Mars">Mars</option>
            <option value="Avril">Avril</option>
            <option value="Mai">Mai</option>
            <option value="Juin">Juin</option>
            <option value="Juillet">Juillet</option>
            <option value="Août">Août</option>
            <option value="Septembre">Septembre</option>
            <option value="Octobre">Octobre</option>
            <option value="Novembre">Novembre</option>
            <option value="Décembre">Décembre</option>
          </select>
        </div>
        <div class="form-group">
          <label for="jours">Nombre de jours travaillés</label>
          <input id="jours" type="number"
                    class="form-control" formControlName="jours">
        </div>
        <div class="form-group" id="select_contrat">
            <label for="contrat">Contrat associé</label>
            <select id="contrat"
                      class="form-control" formControlName="contrat">
                      <option *ngFor="let contrat of contrats; let i = index" [ngValue]="contrats[i]">
                        {{contrats[i].reference}}
                      </option>
            </select>
          </div>
        <button class="btn btn-success" [disabled]="factureForm.invalid"
                type="submit">Enregistrer
        </button>
  
      </form>
    </div>
  </div>