<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Enregistrer un nouveau contrat</h2>
      <form [formGroup]="contratForm" (ngSubmit)="onSaveContrat()">
        <div class="form-group">
          <label for="reference">Référence du contrat</label>
          <input type="text" id="reference"
                 class="form-control" formControlName="reference">
        </div>
        <div class="form-group">
          <label for="prestation">Nature de la prestation</label>
          <input type="text" id="prestation"
                 class="form-control" formControlName="prestation">
        </div>
        <div class="form-group">
          <label for="mois">Mois de la prestation</label>
          <input type="text" id="mois"
                    class="form-control" formControlName="mois">
          
        </div>
        <div class="form-group">
            <label for="tjm">Montant du taux journalier moyen</label>
            <input type="text" id="tjm"
                      class="form-control" formControlName="tjm">
            
          </div>
        <button class="btn btn-success" [disabled]="contratForm.invalid"
                type="submit">Enregistrer
        </button>
  
      </form>
    </div>
  </div>