<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Enregistrer un nouveau contrat</h2>
      <form [formGroup]="contratForm" (ngSubmit)="onSaveContrat()">
        <div class="form-group">
          <label for="reference">Référence du contrat</label>
          <input type="text" id="reference"
                 class="form-control" formControlName="reference">
        </div>
        <div class="form-group">
          <label for="prestation">Nature de la prestation</label>
          <input type="text" id="prestation"
                 class="form-control" formControlName="prestation">
        </div>
        <div class="form-group">
          <label for="mois">Mois de la prestation</label>
          <select name="mois" id="mois" class="form-control" formControlName="mois">
            <option value="Janvier">Janvier</option>
            <option value="Février">Février</option>
            <option value="Mars">Mars</option>
            <option value="Avril">Avril</option>
            <option value="Mai">Mai</option>
            <option value="Juin">Juin</option>
            <option value="Juillet">Juillet</option>
            <option value="Août">Août</option>
            <option value="Septembre">Septembre</option>
            <option value="Octobre">Octobre</option>
            <option value="Novembre">Novembre</option>
            <option value="Décembre">Décembre</option>
          </select>
          
        </div>
        <div class="form-group">
            <label for="tjm">Montant du taux journalier moyen</label>
            <input type="number" id="tjm"
                      class="form-control" formControlName="tjm">
            
          </div>
          <div class="form-group">
            <input type="radio" id="tva_true" name="tva" value="true" formControlName="tva">
  <label for="tva"> Tva appliquable</label><br>
  <input type="radio" id="tva_false" name="tva" value="false" formControlName="tva">
  <label for="tva"> Tva non appliquable</label><br>
            
          </div>
          <div class="form-group" id="select_client">
            <label for="client">Client</label>
            <select id="client" class="form-control" formControlName="client" name="client">
                <option *ngFor = "let client of clients; let i = index" [ngValue]="clients[i]">
                    {{ clients[i].nom }}
                </option>
                </select>
            
              </div>
        <button class="btn btn-success" [disabled]="contratForm.invalid"
                type="submit">Enregistrer
        </button>
  
      </form>
    </div>
  </div>